#canvas {
    position: relative;
    width: 800px;
    height: 640px;
    background-color: aquamarine;
    margin: 0 auto;
}

#farmer {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 100px;
    background-color: blue;
}

#cow {
    position: absolute;
    top: 0;
    width: 70px;
    height: 40px;
    background-color: grey;
}