#canvas {
    position: relative;
    width: 800px;
    height: 640px;
    background-color: aquamarine;
    margin: 0 auto;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
}

#farmer {
    position: absolute;
    top: 520px;
    width: 65px;
    height: 120px;
    background-image: url(/assets/farmer.png);
    background-size: cover;
    /* background-color: blue; */
}

#cow {
    position: absolute;
    top: 0;
    width: 80px;
    height: 50px;
    background-image: url(/assets/cow-basic.png);
    background-size:cover;
    /* background-color: grey; */
}
